body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
}

.sidebar {
  background-color: #f8f9fa;
  min-height: 100%;
  padding: 1rem;
}

.content {
  background-color: #ffffff;
  padding: 1rem;
}

.card {
  margin-bottom: 1rem;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-title {
  margin: 3px;
  background-color: rgb(133, 196, 233);
  font-size: 13px;
  padding: 4px;
  border-radius: 5px;
}

.form-label,.form-control,.list-group-item ,.form-select{
  font-size: 13px;
}

.form-label2{
  font-size: 6px;
}
